body { margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(152, 152, 255);
}
    h1 {
    color: #00c9fc;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s;
}

h1:hover {
    color: #0077ff;
}
p {
     text-align: center;
     font-size: 80px;
      margin:  auto; /* ISSO centraliza horizontalmente */
color: red;
margin-top: 2px;
height: 200px;
width: 660px;}
